@import './modules/_reset';
@import '_vars';

// main

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4 {
    font-family: $abolition;
    color: $olive-green;
}

h2 {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
}

h4 {
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
}

h5 {
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
	font-family: $lato;
	color: $olive-green;
}

p {
    font-family: $lato;
    color: $dark-grey;
    font-size: 16px;
	line-height: 18px;
}

li {
	font-family: $lato;
}

input, textarea {
	color: $light-grey;
	font-family: $lato;
}

textarea {
	height: 160px;
}

::placeholder {
	font-family: $lato;
}

a {
	cursor: pointer;
}

.hidden {
	display: none;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.preventScrolling {
  height: 100%;
  overflow: hidden;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: 320px;
	/*set top margin to avoid content overlay*/
	margin-top: 81px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 938px) {

	p {
		font-size: 16px;
		line-height: 20px;
	}

	#mainContainer {
		margin-top: 200px;
    }
}

@import 'modules/_buttons';
@import 'modules/_header';
@import 'modules/_hero';
@import 'modules/_home';
@import 'modules/_projects';
@import 'modules/_about';
@import 'modules/_contact';
@import 'modules/_join';
@import 'modules/_blog';
@import 'modules/_merch';
@import 'modules/_footer';