#mainBlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

#blogPosts {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 auto;
}

#blogPosts .btnSmall {
    /* gets rid of default side margins of 10px*/
    margin: 0px;
}

#blogPosts .btnCon {
    margin-top: 40px;
}

/* post tags */

.postTags ul {
    display: flex;
    justify-content: space-between;
}

.postTags ul li:nth-child(2) {
    display: none;
}

.postTags ul li {
    font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
    color: #587021;
}

.blogDateIcon {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background: url(../images/blog_date.svg) no-repeat;
}

.blogCommentsIcon {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background: url(../images/blog_comments.svg) no-repeat;
}

/*post box*/

.iconPostCon {
    display: flex;
    flex-direction: column;
    position: relative;
}

.blogPostIcon {
    /* put icon in div, let it define height*/
    background-color: #587021;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-top: 40px;
}

.post {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 7.68px 0.32px rgba(31, 29, 30, 0.34);
    background-color: #fff;
    border-top: #587021 solid 20px;
    padding: 35px 10px;
    text-align: justify;
}

.iconPostCon:last-child {
    margin-bottom: 40px;
}

.post a {
    font-family: 'Abolition', 'Arial Bold', 'Gill Sans', sans-serif;
    color: #587021;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

/*post types*/
/*post with only text*/

.postContent1{
    font-size: 14px;
    color: #999;
    padding: 0px 0px 0px 0px;
    line-height: 15px;
    margin-top: 10px;
}

/*text and image post*/

.postContent2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    line-height: 15px;
    font-size: 14px;
    color: #999;
}

.postContent2 img {
    width: 210px;
    align-self: center;
}

.postContent2Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

/* nav with blog links */

#blogLinks {
    display: flex;
    flex-direction: column;
}

#blogLinks h4 {
    margin-top: 70px;
    margin-right: auto;
}

#blogLinks a {
    font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
    text-decoration: none;
    color: #666;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

.categoryPosts {
 display: flex;
 flex-direction: column;
}

.postLink {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.postLinkImage {
    width: 40px;
    height: 40px;
    background-color: #666;
}

#archives {
    display: flex;
    flex-direction: column;
}

#archives a {
    text-decoration: underline;
    margin-left: 0;
}

@media screen and (min-width: 420px) {
	.blogPostIcon {
		margin-left: 43%;
	}
}

@media screen and (min-width: 480px) {
	.blogCategoriesIcon {
		display: inline-block;
		height: 15px;
		width: 15px;
		margin-right: 10px;
		background: url(../images/blog_category.svg) no-repeat;
	}

	.postTags ul li:nth-child(2) {
		display: block;
	}

	.blogPostIcon {
		margin-left: 44%;
	}
}

@media screen and (min-width: 601px) {
	.blogPostIcon {
		margin-left: 42%;
	}
}

@media screen and (min-width: 670px) {
	.blogPostIcon {
		margin-left: 46%;
	}

	.post {
		padding: 40px;
	}

	.postContent1{
		padding: 20px 0px 10px 0px;
	}

	.postContent2 {
		padding-top: 20px;
		flex-direction: row;
	}

	.postContent2Text {
		justify-content: space-between;
		margin-left: 20px;
		margin-top: 0px;
	}

	.postTags ul li {
		margin-top: 40px;
		font-size: 16px;
	}

	.blogDateIcon {
		height: 20px;
		width: 20px;
	}

	.blogCategoriesIcon {
		height: 20px;
		width: 20px;
	}

	.blogCommentsIcon {
		height: 20px;
		width: 20px;
	}

}

@media screen and (min-width: 768px) {
    #mainBlog {
		padding: 0px 40px;
	}
}

@media screen and (min-width: 938px) {
    #mainBlog {
		padding: 0px 60px;
	}

	#blogLinks {
		margin-left: 60px;
  	}

	#blogPosts {
		max-width: 682px;
	}
}

@media screen and (min-width: 1072px) {
	#blogPosts {
		margin: 0;
	}
}