.hero {
	max-width: 600px;
	height: 408px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
}

.heroProjects {
	background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/projects_hero_small.jpg);
}

.heroAbout {
	background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/about_hero_small.jpg);
}

.heroContact {
	background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/contact_hero_small.jpg);
}

.heroJoin {
	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/join_hero_small.jpg);
}

.heroBlog {
	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/blog_hero_small.jpg);
}

.heroProducts {
	background-image: linear-gradient(rgba(79, 100, 29, 0.2), rgba(79, 100, 29, 0.3)), url(../images/products_hero_small.jpg);
}

.heroImage {
	position: absolute;
	top: 0;
	left: 0;
}

.hero h2 {
	font-size: 48px;
	color: #fff;
	position: absolute;
	text-shadow: 0px 4px 1.94px rgba(35, 31, 32, 0.4);
}

@media screen and (min-width: 601px) {
    .hero {
		max-width: 1366px;
	}

	.heroProjects {
		background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/projects_hero.jpg);
	}

	.heroAbout {
		background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/about_hero.jpg);
	}

	.heroContact {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/contact_hero.jpg);
	}

	.heroJoin {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/join_hero.jpg);
	}

	.heroBlog {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/blog_hero.jpg);
	}

	.heroProducts {
	    background-image: linear-gradient(rgba(79, 100, 29, 0.1), rgba(79, 100, 29, 0.2)), url(../images/products_hero.jpg);
	}
}

@media screen and (min-width: 768px) {
	.hero {
		height: 510px;
		width:100%;
	}

	.hero h2 {
		font-size: 60px;
    }
}